
body {
  background: url("http://subtlepatterns.com/patterns/footer_lodyas.png") repeat scroll 0% 0%;
  color: #AAA;
  font-family: 'Patua One', Helvetica, Arial, sans-serif;
  font-size: 72px;
  padding-top: 50px;
  text-align: center;
}
